<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
            http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
            http://www.springframework.org/schema/aop 
            http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
            
	<bean id="stockService" class="org.codehaus.xfire.spring.remoting.XFireClientFactoryBean">
		<property name="wsdlDocumentUrl">
			<value>http://localhost:8080/sikkim/sikkim?wsdl</value>
		</property>
		<property name="serviceInterface">
		 	<value>me.sumithpuri.github.sikkim.spring.ws.xfire.sample.StockTrader</value>
		</property>
		<property name="url" value="http://localhost:8080/sikkim/sikkim" />
        <property name="lookupServiceOnStartup" value="false"/>
	</bean>
</beans>